*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #2EAA97 0%, #6dc6c9 100%) 
}
.container {
    margin: 120px auto;
    max-width: 400px;
    width: 100%;
    background: white;
    border-radius: 5px;
    padding: 25px;
}
.container header {
    font-size: 28px;
    font-weight: bold;
}
.container .inputField {
    display: flex;
    height: 30px;
    width: 100%;
    margin: 15px 0;
}
.inputField input {
    width: 90%;
    height: 100%;
    font-size: 15px;
    border-radius: 3px;
    padding-left: 10px;
    border: 1px solid #d4d4d4;
}
.inputField button {
    font-size: 20px;
    width: 40px;
    height: 100%;
    border: none;
    outline: none;
    background: #00ff99;
    border-radius: 3px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-left: 5px;
}
.container .todoList {
    max-height: 250px;
}
.todoList li {
    position: relative;
    list-style: none;
    height: 30px;
    line-height: 30px;
    background: #ededed;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 0 20px;
    overflow: hidden;
    cursor: pointer;
}
.todoList li:hover {
    background: #e0e0e0;
    transition: 0.5s;
}
.todoList i{
    position: absolute;
    right: 0px;
    text-align: center;
    padding-top: 5px;
    width: 40px;
    height: 100%;
    border: none;
    outline: none;
    background: #ededed;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
.todoList i:hover {
    background-color: #ff4d4d;
    transition: 0.5s;
}
ul li.checked {
    background: #e0e0e0;
    color: #2EAA97;
    text-decoration: line-through;
  }
  ul li.checked::before {
    content: '';
    height: 15px;
    width: 7px;
    position: absolute;
    border-color: #2EAA97;
    border-style: solid;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    top: 4px;
    left: 6px;
  }
  .container .footer {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
  }
